/*
  Create by ZabKoz
*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: right;
  -ms-flex-align: right;
  align-items: right;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #000000;
  height: 100vh;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 60px;
  /* if you need to reduce Sidebar add " height: 600px; " below */
  background-color: #263238;
  border-radius: 15px;
  overflow-x: hidden;
  -webkit-transition: width 300ms ease;
  transition: width 300ms ease;
}

nav:hover {
  width: 300px;
}

nav:hover .nav__item.active .nav__item-icon,
nav:hover .nav__item.active .nav__item-name {
  -webkit-box-shadow: 0px 0px 15px 5px #0005;
  box-shadow: 0px 0px 15px 5px #0005;
}

nav .nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

nav .nav__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  margin-top: 5px;
  margin-bottom: 5px;
}

nav .nav__item.active {
  padding-left: 10px;
}

nav .nav__item.active::after,
nav .nav__item.active::before {
  -webkit-transition: opacity 300ms 150ms ease-in-out;
  transition: opacity 300ms 150ms ease-in-out;
  opacity: 1;
}

nav .nav__item.active * {
  color: #009688;
  font-weight: 900;
}

nav .nav__item.active .nav__item-icon {
  background-color: #eceff1;
  border-radius: 10px;
}

nav .nav__item.active .nav__item-name {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #eceff1;
  margin-left: 10px;
}

nav .nav__item::before,
nav .nav__item::after {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  content: "";
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}

nav .nav__item::before {
  top: -30px;
  -webkit-box-shadow: 15px 15px 0px 0px #eceff1;
  box-shadow: 15px 15px 0px 0px #eceff1;
}

nav .nav__item::after {
  bottom: -30px;
  -webkit-box-shadow: 15px -15px 0px 0px #eceff1;
  box-shadow: 15px -15px 0px 0px #eceff1;
}

nav .nav__item-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-left: 15px;
  color: #fff;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

nav .nav__item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

nav .nav__item-icon ion-icon {
  font-size: 1.5em;
  color: #fff;
}
