/*-------------------------------*/
/*          Create by Zabkoz          */
/*-------------------------------*/
body.overflow-hidden {
  overflow: hidden;
  position: fixed;
}

#wrapper .overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper .principal-nav,
#wrapper .footer {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-left: 50px;
}
#wrapper .tooltip {
  position: fixed;
  pointer-events: none;
}

nav#sidebar-wrapper {
  z-index: 1030;
  left: 0;
  width: 50px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 0;
}
nav#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

.no_caret.dropdown-toggle:after {
  display: none;
}

#wrapper.toggled {
  padding-left: 220px;
}
#wrapper.toggled .sidebar-nav {
  width: 220px;
  text-align: left;
}
#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}
#wrapper.toggled .sidebar-nav > li span {
  display: inline-block;
}
#wrapper.toggled #page-content-wrapper {
  padding-left: 0;
}
#wrapper.toggled #page-content-wrapper .container {
  width: 100%;
  min-width: 300px;
  max-width: 1154px;
}
#wrapper.toggled #page-content-wrapper .navbar-fixed-top,
#wrapper.toggled #page-content-wrapper .footer {
  padding-left: 220px;
}
#wrapper.toggled .tooltip {
  display: none;
  opacity: 0;
}

#page-content-wrapper {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-left: 50px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.sidebar-nav > li {
  position: relative;
  line-height: 20px;
  width: 100%;
  font-size: 14px;
  display: inline-block;
}
.sidebar-nav > li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #202020;
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -ms-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}
.sidebar-nav > li:first-child a {
  color: #fff;
  background-color: #F3F1F5;
}
.sidebar-nav > li:nth-child(2):before {
  background-color: #F0D9FF;
}
.sidebar-nav > li:nth-child(3):before {
  background-color: #BFA2DB;
}
.sidebar-nav > li:nth-child(4):before {
  background-color: #7F7C82;
}
.sidebar-nav > li:hover:before, .sidebar-nav > li:active:before, .sidebar-nav > li:focus:before {
  width: 100%;
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -ms-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}
.sidebar-nav > li.active a {
  color: #fff;
}
.sidebar-nav > li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 10px;
}
.sidebar-nav > li a i {
  margin: 0 5px 0 3px;
  font-size: 22px;
}
.sidebar-nav > li a span {
  margin-left: 5px;
}
.sidebar-nav > li span {
  display: none;
}
.sidebar-nav > li a:hover,
.sidebar-nav > li a:active,
.sidebar-nav > li a:focus {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
.sidebar-nav > .sidebar-brand {
  height: 50px;
  font-size: 16px;
  line-height: 44px;
  color: #ddd;
  font-weight: bold;
  padding: 4px 15px;
}
.sidebar-nav .dropdown .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #11182d;
  box-shadow: none;
  height: auto;
}
.sidebar-nav .dropdown .dropdown-menu a {
  color: #ddd;
  font-size: 0.8rem;
}
.sidebar-nav .dropdown .dropdown-menu .dropdown-header {
  padding: 5px 15px 5px 10px;
}
.sidebar-nav .dropdown a.dropdown-toggle .caret {
  transition: all 0.2s ease-in;
  border-top: 6px dashed;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  float: right;
  margin-top: 8px;
  transform: rotate(90deg);
}
.sidebar-nav .dropdown.show a.dropdown-toggle {
  color: #fff;
}
.sidebar-nav .dropdown.show a.dropdown-toggle .caret {
  transform: rotate(0deg);
}
.sidebar-nav .dropdown.show .dropdown-menu li a:hover,
.sidebar-nav .dropdown.show .dropdown-menu li a:focus,
.sidebar-nav .dropdown.show .dropdown-menu li a:active {
  background-color: rgba(0, 0, 0, 0.5);
}
.sidebar-nav .dropdown.show > a,
.sidebar-nav .dropdown.show > a:hover,
.sidebar-nav .dropdown.show > a:focus {
  border: 0;
  background-color: transparent;
}
.sidebar-nav .dropdown.show:before {
  width: 100%;
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -ms-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}

.hamburger {
  position: relative;
  top: 14px;
  z-index: 1031;
  display: block;
  width: 15px;
  height: 23px;
  background: transparent;
  border: none;
  display: block;
}
.hamburger:hover, .hamburger:active {
  outline: none;
}
.hamburger.is-closed {
  margin: 0 auto;
  float: none;
  right: 2px;
}
.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #ddd;
}
.hamburger.is-closed .hamb-top {
  top: 2px;
  -webkit-transition: all 0.2s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 2px;
  -webkit-transition: all 0.2s ease-in-out;
}
.hamburger.is-closed:hover .hamb-top, .hamburger.is-closed:focus .hamb-top, .hamburger.is-closed:active .hamb-top {
  top: 0;
  -webkit-transition: all 0.2s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom, .hamburger.is-closed:focus .hamb-bottom, .hamburger.is-closed:active .hamb-bottom {
  bottom: 0;
  -webkit-transition: all 0.2s ease-in-out;
}
.hamburger.is-open {
  right: 14px;
  float: right;
}
.hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #ddd;
}
.hamburger.is-open .hamb-top, .hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}
.hamburger.is-open .hamb-middle {
  display: none;
}
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}

@media (max-width: 720px) {
  #wrapper .principal-nav img.navbar-brand {
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  #wrapper.toggled .principal-nav img.navbar-brand {
    left: 220px;
  }
}
